@charset "UTF-8";

@font-face {
    font-family: go3v2;
    src: url(../fontes/go3v2.ttf);
}

@font-face {
    font-family: kanit;
    src: url(../fontes/Kanit-ExtraLight.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
}

:root{
    --cor-de-fundo: #EEEEEE;    
    --cor-de-fundo-imagens: #151515;
    --cor-vermelha: #C73659;
    --fonte-titulos: go3v2;
    --font-paragrafos: Kanit;
}

.logo > h1 {
    font-family: var(--fonte-titulos);
    font-size: 76px;
    font-weight: normal;
    margin-bottom: -12px;
}

.logo > h2 {
    font-family: var(--fonte-titulos);
    font-size: 32px;
    color: var(--cor-vermelha);
    font-weight: normal;
}

.logo {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

header > nav {
    font-family: var(--fonte-titulos);
}

nav > a {
    text-decoration: none;
    color: var(--cor-de-fundo-imagens);
    font-size: 20px;
    padding: 15px;
}

nav > a:hover {
    color: var(--cor-vermelha);
    font-size: 22px;
    transition: 0.25s;
}

.container {
    position: relative;
}

.navegar {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

header > img {
    margin-top: 30px;
    width: 100%;
    background-attachment: fixed;
}

img {
    display: block;
    margin: auto;
}

main {
    padding:20px 0px 20px 0px;
    background-color: var(--cor-de-fundo-imagens);
    color: var(--cor-de-fundo);
    box-shadow: 0px 0px 50px 80px var(--cor-de-fundo-imagens);
}

main > h2 {
    font-family: var(--fonte-titulos);
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: normal;
}

strong {
    font-weight: normal;
    color: var(--cor-vermelha);
}

main > p {
    font-family: var(--font-paragrafos);
    font-size: 16px;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 30px;
}

#redes {
    min-height: 650px;
    border: var(--cor-de-fundo-imagens) solid 1px;
    margin: 0px 20px;
}

#redes > h2 {
    font-family: var(--fonte-titulos);
    text-align: center;
    padding: 70px;
    font-weight: normal;
    font-size: 20px;
}

.logos {
    position: relative;
    background-color: var(--cor-vermelha);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 70px 0px 70px 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logos:hover {
    width: 70px;
    height: 70px;
    transition: 0.25s;
}

.logos > img:hover {
    width: 45px;
    height: 45px;
    transition: 0.25s;
}

.logos img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#redes > h2 {
    margin-top: 100px;
}

footer > nav {
    font-family: var(--fonte-titulos);
}

footer {
    border: var(--cor-de-fundo-imagens) 1px solid;
}

#rodape {
    background-color: var(--cor-de-fundo-imagens);
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    font-family: sans-serif;
    color: var(--cor-de-fundo);
    font-weight: bold;
    font-style: italic;
}

#rodape > a {
    text-decoration: none;
    color: var(--cor-vermelha);
}

#rodape > a:hover {
    text-decoration: underline;
}